<div class="container">
  <form class="form-profile">
    <div class="form-group">
      <img class="image-profile" src="{{ userAuth.photo }}">
    </div>
    <div class="form-group">
      <label>Name</label>
      <label class="form-control">{{ userAuth.name }}</label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <label class="form-control">{{ userAuth.email }}</label>
    </div>
    <div class="form-group">
      <label>Nationality</label>
      <label class="form-control">{{ userAuth.country }}</label>
    </div>
    <br />
  </form>
</div>
