<nav *ngIf="showMenu" class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-danger mb-4">
  <a class="navbar-brand" routerLink="/">NETFLIX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/movie-selection">Movie Selection</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/metrics">Metrics</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
  <div class="nav navbar-nav navbar-right" (click)="logout()">
    <a class="navbar-brand"><strong>Logout</strong></a>
 </div>
</nav>
