<div class="container">
  <form >
    <img src="../../../assets/netflix-logo.svg">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="You email">
      <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone.</small>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="You name">
    </div>
    <br/>
    <button type="submit" class="btn btn-danger">Log in</button>
    <br/>
    <a href="/play-list">Subscribe now</a>
  </form>
</div>
