<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-last-tab" data-toggle="pill" href="#v-pills-last" role="tab" aria-controls="v-pills-last" aria-selected="true">Last 5 movies</a>
  <!--<a class="nav-link" id="v-pills-genre-tab" data-toggle="pill" href="#v-pills-genre" role="tab" aria-controls="v-pills-genre" aria-selected="false">Watched for Genre</a>
  <a class="nav-link" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="false">Last 3 users</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>-->
</div>

<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active divLast5Movies" id="v-pills-last" role="tabpanel" aria-labelledby="v-pills-last-tab">

    <div *ngFor="let movie of last5Movies" class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{{ movie.image }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
      </div>
    </div>

  </div>
  <!--<div class="tab-pane fade" id="v-pills-genre" role="tabpanel" aria-labelledby="v-pills-genre-tab">

    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>

  </div>
  <div class="tab-pane fade" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let watch of watched">
          <td>{{ watch.name }}</td>
          <td>{{ watch.image }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>-->
</div>








<!--<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-last-tab" data-toggle="pill" href="#pills-last" role="tab" aria-controls="pills-last" aria-selected="true">Last 5 Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content container" id="pills-tabContent">
--><!-- Last 5 Movies --><!--
  <div class="tab-pane fade show active" id="pills-last" role="tabpanel" aria-labelledby="pills-last-tab">
    <div *ngFor="let movie of last5Movies" class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{{ movie.image }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
      </div>
    </div>
  </div>
--><!-- Watched Genre --><!--
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
  </div>
--><!-- TODO --><!--
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
-->
<!--

-->

