<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active bg-danger text-center" id="v-pills-last-tab" data-toggle="pill" href="#v-pills-last" role="tab" aria-controls="v-pills-last" aria-selected="true">Last 5 movies</a>
</div>

<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active divLast5Movies" id="v-pills-last" role="tabpanel" aria-labelledby="v-pills-last-tab">

    <div *ngFor="let movie of last5Movies" class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{{ movie.image }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
      </div>
    </div>

  </div>
</div>
